---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="text-center fixed top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%]">
    <h1 class="text-8xl font-black opacity-100 mix-blend-overlay">404</h1>
    <p class="text-2xl">Not found.</p>
    <br>
    <a href="/" class="font-white underline underline-offset-2 opacity-50">Back Home</a>
  </div>
</Layout>
